body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:not(#mail) {
    width: 100%;
}

span {
    font-weight: bold;
}

.container {
    display: flex;
    height: 100vh;
}

#logo {
    width: 50%;
    border-radius: 50%;
    background-color: #f5f8ef;
    margin-top: 90px;
    margin-bottom: 20px;
}

.navbar {
    background-color: #d9e8ce; 
    padding: 10px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.navbtn {
    background-image: url("./assets/images/pawn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

.content {
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    flex: 1;
    gap: 65px;
    padding: 20px;
    margin-left: 15%;
}

.card {
    background-color: #d9e8ce;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
}

.title {
    background-color: #b0c994;
}

.type, .details {
    background-color: #c4d8b2;
}

.title h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
}

.type h1 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.cardimg {
    height: 450px;
    background-color: #eee;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 5px solid #b0c994;
    overflow: hidden;
}

.cardimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    font-size: 1.2em;
}

/* Collection Page */
.collection-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collection-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-content h1 {
    font-size: 2em; 
    padding: 20px;
}

.main-content h3 {
    font-size: 1.5em; 
    font-weight: normal;
}

#recommended-game {
    font-weight: bold;
    color: #b0c994;
}

.dice-container {
    width: 30%;
    height: 30%;
    border: 3px solid #b0c994;
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .collection-container {
        flex-direction: column;
        align-items: center;
    }
    .dice-container {
        width: 40%;
        height: 40%;
    }
}

.reserve, .server,  .news {
    background-color: #b0c994;
    border: 1px solid black;
    padding: 10px 10px;
    font-size: 1.2em;
    margin: 10px 10px;
}

.reserve:hover, .server:hover, .news:hover {
    cursor: pointer;
    background-color: black;
    color: #b0c994;
}